<div id="<%= dom_id student %>">
  <p>
    <strong>User:</strong>
    <%= student.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= student.price %>
  </p>

</div>
