<div id="<%= dom_id student %>">
  <p>
    <strong>Teacher:</strong>
    <%= student.user.name %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= student.price %>
  </p>

</div>
