<% flash.each do |type, message| %>
  <div class="alert <%= "alert-#{type}" %>"><%= message %></div>
<% end %>
<h1 class="hero-title">List of students</h1>
<% if current_user.role == "teacher" %>
  <div class="btn-container">
    <%= link_to "New student", new_student_path, class: "btn-student" %>
  </div>
<% end %>
<div class="container-for-phone">
<div class="student-table">
  <p>Name</p>
  <% if current_user.role == "admin" %>
    <p>Teacher</p>
  <% end %>
  <p>Price</p>
  <p>Options</p>
</div>
<div class="student-container">
  <% @students.each do |student| %>
    <%= render student %>
  <% end %>
</div>
</div>