/*
*= require kaminari
*= require lessons
*= require users
*= require icons
*= require flash_messages
*= require forms
*= require buttons
*/

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 153, 141);
    margin: 0;
    font-family: Poppins, sans-serif;
}

.header{
    display: flex;
    position: relative;
}

.hero_title {
    text-align: center;
    color: rgb(111, 224, 186);
    margin: 15px 0;
}


  