/*
*= require kaminari
*= require lessons
*= require users
*= require icons
*= require flash_messages
*= require forms
*= require buttons
*= require devise
*/

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 153, 141);
    margin: 0;
    font-family: Poppins, sans-serif;
}

.header{
    display: flex;
}

.hero-title {
    text-align: center;
    color: rgb(111, 224, 186);
    margin: 0 0 5px 0;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0 20px;
    border-bottom: 1px solid rgb(46 175 175);
}

.header-price {
    font-size: 18px;
}

.total-paid {
    font-size: 20px;
    color: green;
}

.total-not-paid {
    font-size: 20px;
    color: red;
}


  