.devise-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.notebook {
    font-size: 80px;
    animation-name: notebook-title;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    
    @media screen and (min-width: 768px) {
        font-size: 150px;
    }
}

@keyframes notebook-title {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.log-in-container {
    display: flex;
    opacity: 0;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid #67ffff;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(1 155 147);
    animation-name: log-in-anim;
    animation-delay: 1.2s;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes log-in-anim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.forgot-container {
    position: relative;
    display: flex;
    top: 40px;
    flex-direction: column;
    margin: 0 auto;
    width: 300px;
    border: 1px solid #67ffff;
    padding: 30px;
    gap: 20px;
    border-radius: 15px;
    background-color: rgb(1 155 147);
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(10, 136, 94);
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}
  
input[type="checkbox"]:checked {
    background-color: white;
    border-color: black;
    box-shadow: inset 0 0 12px black;
}

.devise-footer{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 0 auto;
}