.filter-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    
    @media screen and (min-width: 768px) {
        min-width: 1326px;
        flex-direction: row;
        
    }
}

.form-my-label {
    display: flex;
    color: aquamarine;
}

.form-my-control {
    padding: 5px;
    margin: auto 10px;
    font-size: 16px;
    border: 1px solid rgb(10, 136, 94);
    border-radius: 8px;
    background-color: darkcyan;
    color: azure;
    text-align: center;
}

.form-for-everything {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.form-for-input, .form-lesson-student, .form-user-price {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.form-for-input ::placeholder{
    color: aqua;
    font-size: small;
    opacity: 0.6;
}

.form-lesson-student .form-my-control {
    width: 226px;
}

.form-submit-all {
    display: flex;
}

.form-checkbox {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}

.swiss {
    position: absolute;
    top: 150px;
    left: 850px;
}