.total-prices {
    display: flex;
    background-color: rgba(169, 169, 169, 0.411);
    border-radius: 5px;
    padding: 5px;
    justify-content: space-between;
    margin: 5px 20px;
}

.paid-price {
    font-size: 18px;
}

.total-price {
    font-size: 20px;
    color: green;
}

.not-paid-price {
    font-size: 18px;
}

.total-not-price {
    font-size: 20px;
    color: red;
}

.lesson_table {
    display: flex;
    flex-direction: column;
    margin: auto 20px;
}

.container {
    display: flex;
}

.one_lesson_container {
    margin: 20px;
}

.one_lesson_edit_destroy {
    display: flex;
    margin: auto 30px;
    justify-content: center;
    gap: 20px;
}

.lesson_info {
    width: 100%;
    padding-left: 45px;
}

.table_ul {
    margin: auto 0 20px 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    padding-left: 80px;
    margin-top: 10px;
    background-color: black;
    color: aqua;
    border-radius: 5px;
    height: 40px;
    font-size: larger;
    line-height: 2;
}

.params_ul {
    display: flex;
    padding: 0;
    flex-direction: row;
}

.table_li, .params_li {
    list-style: none;
    flex-direction: row;
    flex-grow: 1;
}

.table_li:last-child{
    max-width: 141px;
}

.params_li:last-child {
    width: 110px;
}

.params_li:first-child {
    width: 80px;
}

.paid {
    background-color: rgb(31, 31, 31);
    box-shadow: inset 0 0 25px rgb(69, 189, 0);
    color: rgb(126, 248, 232);
    padding: 5px;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.not_paid {
    background-color: rgb(31, 31, 31);
    box-shadow: inset 0 0 25px rgb(212, 0, 0);
    color: rgb(126, 248, 232);
    padding: 5px;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.paid:hover, .not_paid:hover {
    transform: scale(1.02);
}

.icon-check {
    position: absolute;
    translate: -30px 13px;
    fill: aqua;
    width: 20px;
    height: 20px;
}

.icon-cross {
    position: absolute;
    translate: -30px 13px;
    fill: red;
    width: 22px;
    height: 22px;
}

.one_homework_info{
    display: flex;
}

.homework_btn{
    display: flex;
    padding: 20px;
}

.homework {
    display: flex;
    width: 30%;
    margin: 20px;
    border: 1px solid aquamarine;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(65 135 131);
    color: aqua;
    white-space: pre-line;
}

.homework::before {
    content: "Homework:";
    margin-right: 5px;
    color: aquamarine;
}

.homework_table {
    display: flex;
    margin: 0 auto;
    justify-content: start;
    background-color: black;
    color: aqua;
    border-radius: 10px;
    width: 800px;
}

.homework_date, .homework_homework{
    display: flex;
    padding: 10px;
    justify-content: center;
    border-bottom: 1px solid black;
    margin-left: 6px;
}

.homework_date {
    width: 30%;
}

.homework_homework {
    width: 100%;
}

.libero {
    width: 150px;
}

.homework_info {
    display: flex;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid black;
    white-space: pre-line;
    color: black;
}

.homework_table_body {
    display: flex;
    margin: 0 auto;
    justify-content: start;
    color: aqua;
    width: 800px;
    background-color: rgba(189, 189, 189, 0.11);
}

.homework_show_btn {
    display: flex;
    border-bottom: 1px solid black;
    align-items: baseline;
    padding: 5px;
}
