.table-header {
    display: flex;
    margin-top: 10px;
    background-color: black;
    color: aqua;
    border-radius: 5px;
    height: 40px;
    line-height: 2;
    padding: 0;
    margin: 0 10px;
    font-size: larger;
}

.table-container {
    padding: 5px;
}

.table-under-container {
    width: 100%;
}

.table-ul {
    display: flex;
    width: 100%;
    padding-left: 35px;
}

.table-ul-2 {
    display: flex;
    width: 15%;
    padding: 0;
}

.table-li-status, .table-li-date, .table-li-time, .table-li-student, .table-li-lesson-status, .table-li-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.table-li-status {
    justify-content: start;
    max-width: 50px;
}

.table-li-student {
    width: 130px;
}

.table-li-time {
    display: flex;
    width: 150px;
}

.table-li-date {
    width: auto;
}

.table-li-lesson-status {
   width: 255px;
   text-indent: 45px;
}

.table-li-options {
    width: 100px;
}

.container {
    display: flex;
}

.one-lesson-container {
    margin: 20px 0;
}

.one-lesson-edit-destroy {
    display: flex;
    margin: auto 20px;
    justify-content: start;
    gap: 20px;
}

.lesson-info {
    width: 100%;
    padding-left: 45px;
}

.params-ul {
    display: flex;
    padding: 0;
    text-align: center;
}

.params-li-date, .params-li-time, .params-li-student, .params-li-lesson-status {
    list-style: none;
    flex-grow: 1;
    text-align: center;
}

.params-li-date {
    width: auto;
}

.params-li-time {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
}

.params-li-student {
    width: 200px;
}

.params-li-lesson-status {
    width: 220px;
}

.paid {
    background-color: rgb(31, 31, 31);
    box-shadow: inset 0 0 25px rgb(69, 189, 0);
    color: rgb(126, 248, 232);
    padding: 5px;
    border-radius: 10px;
    transition-duration: 0.3s;
    margin: 0 15px;
}

.not-paid {
    background-color: rgb(31, 31, 31);
    box-shadow: inset 0 0 25px rgb(212, 0, 0);
    color: rgb(126, 248, 232);
    padding: 5px;
    border-radius: 10px;
    transition-duration: 0.3s;
    min-width: 715px;
    margin: 0 15px;
}

.paid:hover, .not-paid:hover {
    transform: scale(1.02);
}

.day-of-week {
    color: yellow;
    font-size: 15px;
}

.one-homework-info{
    display: flex;
}

.homework-btn{
    display: flex;
    padding: 20px;
}

.homework {
    display: flex;
    width: 30%;
    margin: 20px 0 20px 20px;
    border: 1px solid aquamarine;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(65 135 131);
    color: aqua;
    white-space: pre-line;
}

.homework::before {
    content: "Homework:";
    margin-right: 5px;
    color: aquamarine;
}

.homework-table-header {
    display: flex;
    margin: 0 auto;
    justify-content: start;
    background-color: black;
    color: aqua;
    border-radius: 10px;
    width: 880px;
}

.homework-table-body {
    display: flex;
    margin: 0 auto;
    justify-content: start;
    color: aqua;
    background-color: rgba(189, 189, 189, 0.11);
    width: 880px;
}

.homework-date, .homework-header-homework{
    display: flex;
    padding: 10px;
    justify-content: center;
    border-bottom: 1px solid black;
    margin-left: 6px;
}

.homework-date {
    width: 30%;
}

.homework-header-homework {
    justify-content: start;
    width: 100%;

}

.libero {
    width: 150px;
}

.homework-info {
    display: flex;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid black;
    white-space: pre-line;
    color: black;
}

.homework-show-btn {
    display: flex;
    border-bottom: 1px solid black;
    align-items: baseline;
    padding: 5px;
}
